<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scurab.android.rlw.library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="1" />

    <application
        android:allowBackup="true"
        android:label="Lib" >
    </application>

</manifest>